Week3 capstone project: part 1 of 3 of Segmenting and Clustering Neighborhoods of Toronto

In [30]:
import requests
import pandas as pd
import numpy as np

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html = requests.get(url).content
df_list = pd.read_html(html)
df = df_list[-3]
# print(df)
# # df.to_csv('my data.csv')

In [31]:
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [32]:
df.shape

(180, 3)

In [33]:
#check how many not assigned Borough there are
df.groupby(['Borough']).count()

                  Postal code  Neighborhood
Borough
Central Toronto             9             9
Downtown Toronto           19            19
East Toronto                5             5
East York                   5             5
Etobicoke                  12            12
Mississauga                 1             1
North York                 24            24
Not assigned               77             0
Scarborough                17            17
West Toronto                6             6
York                        5             5

In [34]:
temp=df[df['Borough']!='Not assigned']
temp.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [35]:
temp.shape

(103, 3)

In [36]:
#to chech if any neighbourhood is NaN
temp['Neighborhood'].isnull().sum()

0

In [37]:
temp.reset_index(drop=True,inplace=True)
temp.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [38]:
temp.columns=['Postal_code','Borough','Neighborhood']
temp.head()

  Postal_code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [39]:
#two neighborhoods to be in one by replacing "/" with ',' as per instrction.
temp.replace('/', ',',inplace=True,regex=True) 
temp.head()

  Postal_code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [40]:
#check if neighborhood is "not assigned"
temp[temp['Neighborhood']=='Not assigned '].shape

(0, 3)

In [41]:
#check if neighborhood is empty
temp[temp['Neighborhood']==' '].shape

(0, 3)

In [42]:
#row number of the cleaned dataframe
temp.shape[0]

103

In [46]:
temp.to_csv('Capstone-Week3-part1-result_in-CSV.csv',index=False)