Capstone project week3 part 2 of 3: Segmenting and Clustering Neighborhoods of Toronto

In [3]:
import requests
import pandas as pd
import numpy as np
import geocoder
print('library imported')

library imported

In [6]:
Toronto_Neib=pd.read_csv('Capstone-Week3-part1-result_in-CSV.csv')
Toronto_Neib.head()

  Postal_code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [9]:
Toronto_Neib.shape

(103, 3)

In [26]:
# testing Geocoder can get someting if 100 iternation could get a lat/long
lat_lng_coords = None

# loop until you get the coordinates will cause Python hangs on forever it seems so decide to make 100 time call 
# while(lat_lng_coords is None):
for i in range(100):
    g = geocoder.google('{}, Toronto, Ontario'.format('M3A'))
    lat_lng_coords = g.latlng
    print('interation {}, Lat_lng {}'.format(i+1,lat_lng_coords))
    if lat_lng_coords is not None:
        latitude = lat_lng_coords[0]
        longitude = lat_lng_coords[1]
        print('congradulations')

interation 1, Lat_lng None
interation 2, Lat_lng None
interation 3, Lat_lng None
interation 4, Lat_lng None
interation 5, Lat_lng None
interation 6, Lat_lng None
interation 7, Lat_lng None
interation 8, Lat_lng None
interation 9, Lat_lng None
interation 10, Lat_lng None
interation 11, Lat_lng None
interation 12, Lat_lng None
interation 13, Lat_lng None
interation 14, Lat_lng None
interation 15, Lat_lng None
interation 16, Lat_lng None
interation 17, Lat_lng None
interation 18, Lat_lng None
interation 19, Lat_lng None
interation 20, Lat_lng None
interation 21, Lat_lng None
interation 22, Lat_lng None
interation 23, Lat_lng None
interation 24, Lat_lng None
interation 25, Lat_lng None
interation 26, Lat_lng None
interation 27, Lat_lng None
interation 28, Lat_lng None
interation 29, Lat_lng None
interation 30, Lat_lng None
interation 31, Lat_lng None
interation 32, Lat_lng None
interation 33, Lat_lng None
interation 34, Lat_lng None
interation 35, Lat_lng None
interation 36, Lat_lng None
interation 37, Lat_lng None
interation 38, Lat_lng None
interation 39, Lat_lng None
interation 40, Lat_lng None
interation 41, Lat_lng None
interation 42, Lat_lng None
interation 43, Lat_lng None
interation 44, Lat_lng None
interation 45, Lat_lng None
interation 46, Lat_lng None
interation 47, Lat_lng None
interation 48, Lat_lng None
interation 49, Lat_lng None
interation 50, Lat_lng None
interation 51, Lat_lng None
interation 52, Lat_lng None
interation 53, Lat_lng None
interation 54, Lat_lng None
interation 55, Lat_lng None
interation 56, Lat_lng None
interation 57, Lat_lng None
interation 58, Lat_lng None
interation 59, Lat_lng None
interation 60, Lat_lng None
interation 61, Lat_lng None
interation 62, Lat_lng None
interation 63, Lat_lng None
interation 64, Lat_lng None
interation 65, Lat_lng None
interation 66, Lat_lng None
interation 67, Lat_lng None
interation 68, Lat_lng None
interation 69, Lat_lng None
interation 70, Lat_lng None
interation 71, Lat_lng None
interation 72, Lat_lng None
interation 73, Lat_lng None
interation 74, Lat_lng None
interation 75, Lat_lng None
interation 76, Lat_lng None
interation 77, Lat_lng None
interation 78, Lat_lng None
interation 79, Lat_lng None
interation 80, Lat_lng None
interation 81, Lat_lng None
interation 82, Lat_lng None
interation 83, Lat_lng None
interation 84, Lat_lng None
interation 85, Lat_lng None
interation 86, Lat_lng None
interation 87, Lat_lng None
interation 88, Lat_lng None
interation 89, Lat_lng None
interation 90, Lat_lng None
interation 91, Lat_lng None
interation 92, Lat_lng None
interation 93, Lat_lng None
interation 94, Lat_lng None
interation 95, Lat_lng None
interation 96, Lat_lng None
interation 97, Lat_lng None
interation 98, Lat_lng None
interation 99, Lat_lng None
interation 100, Lat_lng None

In [29]:
#tested for 500 time iternation and got nothing so i am going to use the coordinate XLS file instructor provided.
Coor=pd.read_csv('Geospatial_Coordinates.csv')
Coor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [30]:
#check if matching my dataframe for row numbers
Coor.shape

(103, 3)

In [34]:
Coor.rename(columns={'Postal Code': 'Postal_code'}, inplace=True)
Coor.head()

  Postal_code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [33]:
Toronto_Neib.head()

  Postal_code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [36]:
# append the coordiantes to the neiborhood dataframe
Toronto_Neib_Coor = pd.merge(Toronto_Neib, Coor, on='Postal_code')
Toronto_Neib_Coor.head()

,Postal_code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor , Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government",43.662301,-79.389494

In [37]:
Toronto_Neib_Coor.shape

(103, 5)

In [51]:
#check M5G to see if macthing the instruction page.
Toronto_Neib_Coor[Toronto_Neib_Coor['Postal_code']=='M5A']

,Postal_code,Borough,Neighborhood,Latitude,Longitude
2,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.65426,-79.360636

In [52]:
Toronto_Neib_Coor.to_csv('Toronto_Neib_Coor.csv')